///font-color///
/// #EFEBFF
/// #E0EDFF
$darkMod-border:#EBEDEF;
$main-color-border:#E0EDFF;
$second-color-border:#efebff00;
$font-color-white:#ffffff;
$font-color-black:#000000;

$secodery-backgroud-color:#191C1E;
$primary-background-color :#ffff;
$items-color-primary:#2b7ef8;
$main-color-background:#eef4ff;
$second-color-background:#ffffff18;
$color-border-card:#F5F6F8;

$footr-line:#AFAFAF;
$footer-border:#A1A1A1;

